* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* navbar */
.navbar_container {
  background-color: #000;
  position: sticky;
  top: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}

.navbar_container .logo {
  font-size: 25px;
  padding-left: 20px;
}

.navbar_container .ham_icon {
  font-size: 25px;
  background-color: #323232;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar_container .ham_icon:hover {
  background-color: #323232ae;
}

.navbar_container .sidebar_container {
  position: fixed;
  top: 52px;
  right: 0;
  background-color: #000;
  height: 100vh;
  transform: translateX(200px);
  transition: all 0.8s ease;
  z-index: 1000;
}

.navbar_container .sidebar_item {
  color: #929292;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar_container .sidebar_item:hover {
  color: #fff;
}

.navbar_container .sidebar_inner {
  padding: 20px 10px;
  border-bottom: 1px solid #3e3e3e;
  width: 200px;
  display: flex;
  align-items: center;
}

.navbar_container .sidebar_inner_last {
  padding: 20px 10px;
  width: 200px;
  display: flex;
  align-items: center;
}

.navbar_container .sidebar_item_icon {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* auth page */
.auth_container {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_container .auth_container_inner {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  width: 80%;
  max-width: 450px;
  transition: all 0.5s ease;
}

.auth_container .auth_header {
  display: flex;
  justify-content: space-between;
}

.auth_container .auth_header_item {
  padding: 10px 15px;
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.auth_container .auth_header_item_active {
  background-color: #323232;
  transition: all 0.5s ease;
  cursor: default;
}

.auth_container .auth_main {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.auth_container .auth_form {
  width: 100%;
  margin: auto;
}

.auth_container .auth_form_item {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  width: 100%;
}

.auth_container .auth_form_item label {
  font-size: 15px;
  margin-bottom: 5px;
}

.auth_container .auth_form_item input {
  font-size: 20px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: 5px 15px;
  width: 100%;
  border-radius: 5px;
}

.auth_container .auth_form_item button {
  font-size: 20px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: 5px 15px;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.auth_container .auth_form_item button:hover {
  background-color: #7a7a7ac5;
  color: #fff;
}

.radio_btn{
  position: relative;
}

.radio_btn input{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

/* searching ride */
.searching_img{
  margin-top: 20px;
  width: 250px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no_rides{
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.accept_btn{
  background-color: green;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.center_text{
  text-align: center;
}

.searching_container{
  display: flex;
  flex-direction: column;
}

/* ride history */
.ride_history_container {
  width: 80%;
  background-color: #000;
  margin: auto;
  color: #fff;
  margin-top: 40px;
  max-width: 650px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ride_history_item_head_to{
  text-transform: capitalize;
}

.no_booking{
  font-size: 20px;
}

#username_nav{
  text-transform: capitalize !important;
}

.ride_history_container .header {
  display: flex;
  background-color: #121212;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 25px;
  padding: 10px 20px;
}

.ride_history_container .header_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.ride_history_container .single_ride_history_container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.ride_history_container .ride_history_item_head {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

.ride_history_container .ride_history_item_bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2px 0px;
}

.ride_history_container .ride_history_item_bottom {
  margin-bottom: 10px;
}

.ride_history_container .ride_history_item_status {
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  padding: 2px 5px;
  width: 95px;
  border-radius: 5px;
  text-align: center;
}

.ride_history_container .ride_history_item_head_arrow {
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
}

/* page not found */
.page_not_found_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page_not_found_container img {
  user-select: none;
  width: 250px;
  height: 400px;
}

/* My profile */
.my_profile_inner {
  width: 80%;
  background-color: #000;
  margin: auto;
  color: #fff;
  margin-top: 40px;
  max-width: 650px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.my_profile_inner .header {
  display: flex;
  background-color: #121212;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 25px;
  padding: 10px 20px;
}

.my_profile_inner .header_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.my_profile_inner .my_profile_item_top_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.my_profile_inner .my_profile_item_top_row .my_profile_dp {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px;
  border-radius: 50%;
}

.my_profile_inner .my_profile_item_top_row .my_profile_name {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.my_profile_inner .my_profile_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 30px;
}

.my_profile_inner .my_profile_title {
  font-size: 18px;
  font-weight: 600;
}

.my_profile_inner .my_profile_detail {
  margin-bottom: 20px;
}

/* footer */
.footer_container {
  padding: 25px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  display: block;
}

/* loader */
.loader_container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loader_inner {
  width: 100px;
  height: 100px;
  border-left: 4px solid #000;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: loading 0.3s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* book ride home */
.book_ride_home_container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_ride_home_inner_container {
  background-color: #000;
  border-radius: 5px;
  margin-top: 40px;
}

.booking_page_map_container {
  background-color: #da1111;
  width: 100%;
  height: 300px;
}

.book_ride_home_container .booking_page_form {
  padding: 20px 20px;
}

.book_ride_home_container .booking_page_form_row {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.booking_page_form_icon {
  margin-right: 10px;
  font-size: 20px;
}

.book_ride_home_container .from_icon {
  color: rgb(7, 219, 7);
}

.book_ride_home_container .to_icon {
  color: rgb(255, 42, 42);
}

.book_ride_home_container .booking_page_form_row input {
  width: 200px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 16px;
}

.book_ride_home_container .booking_page_form_row button {
  margin-left: 30px;
  font-size: 18px;
  background-color: rgb(7, 219, 7);
  color: #fff;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.book_ride_home_container .booking_page_form_row button:hover {
  background-color: rgba(7, 219, 7, 0.67);
}

/* responsive */
@media (max-width: 500px) {
  .footer_container {
    display: none;
  }
}